<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FoodByte</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- Fonts -->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/096d0c019b.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/cuisines.js"></script>
    <!-- Custom JavaScript -->
    <script type="text/javascript" src="/scripts/index.js"></script>
    <!-- GOOGLE MAPS -->
    <script type="text/javascript" src="/scripts/map.js"></script>

    <!-- <script async defer
    src="/YOUR google maps API HERE">
    </script> -->

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>

  <body class="bg-dark">
    <!-- NAVIGATION -->
      <% include partials/_header %>
    <!-- END NAVIGATION -->

    <!-- Welcome Box -->
    <% if (username && duration) { %>
      <p class="time-alert text-light pl-5">ORDER CONFIRMED <%= duration.time%></p>
    <% } %>

    <section class="header">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="media/steak.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
              <h1 class="display-3 text-light">Welcome to FoodByte</h1>
              <p class="lead mb-0">Your refactored route to rendering food to your internal digestive system.</p>
            </div>
          </div>
        </div>

    </section>
     <!-- Cuisine type search -->
    <section class="cuisine container h-100 mt-3">
      <select class="selectpicker form-control mr-sm-2" placeholder="Search for a cuisine">
        <option>All</option>
        <option>Italian</option>
        <option>Thai</option>
        <option>American</option>
      </select>
    </section>

      <!-- RESTAURANTS-->
      <section id="restaurants" class="text-light restaurant-box">
        <!-- RESTAURANTS  DB RENDERED -->
        <% let i='slide'%>

        <% for(rest of restaurants){ %>
          <article class="px-5 py-3 restaurant bg-info <%=rest.cuisine_type%>">
              <!-- RESTAURANT SLIDESHOW -->
              <div id="carouselExampleIndicators<%= i %>" class="carousel slide restaurant-slideshow" data-ride="carousel">

                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators<%= i %>" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators<%= i %>" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators<%= i %>" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                          <img class="slide img-fluid" src="<%= rest.slide_3_url %>" alt="First slide for <%= rest.title %>">
                    </div>
                    <div class="carousel-item">
                      <img class="slide img-fluid" src='<%= rest.slide_2_url %>' alt="Second slide for <%= rest.title %>">
                    </div>
                    <div class="carousel-item">
                      <img class="slide img-fluid" src="<%= rest.slide_1_url %>" alt="Third slide for <%= rest.title %>">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators<%= i %>" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators<%= i %>" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              <!-- RESTAURANT DESCRIPTION -->

                <div class="rest-description pt-2">
                  <a class="rest-link" href="/restaurants/<%=rest.id%>" title="<%= rest.title %>">
                    <h2><%= rest.title %></h2>
                    <p class="p-lead "> <%= rest.cuisine_type %>  <span></span></p>
                    <p><%= rest.hours_of_operation %></p>
                  </a>
                </div>

            </article>
            <%i+=1%>
        <% } %>
  </section>

  <!--Map-->

  <div class="map-box mt-4">
    <div id="map"></div>
  </div>

  <!--END MAP-->

  <footer class="text-light text-center">
    <p><small> FoodByte created By Herm, Arv, Dasha For Lighthouse Labs 2019</small></p>
  </footer>

</body>
</html>
