<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- Fonts -->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/096d0c019b.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- Custom JavaScript -->
    <script type="text/javascript" src="/scripts/index.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>

  <body class="bg-dark">

    <!-- NAVIGATION -->
    <% include partials/_header %>
    <!-- END NAVIGATION -->

    <section class="restaurant-banner text-light text-center">
        <div>
          <img class="cover-photo-url" src="/<%= menu_items[0].cover_photo_url %>" alt="Restaurant Name">
        </div>
        <div class="bg-info py-3">
          <% console.log(menu_items[0].cover_photo_url); %>
          <h1 class="text-center text-light"> <%= menu_items[0].title %> </h1>
          <p class="lead"></p>
          <%
              const phone = menu_items[0].phone;
              let newPhone = '';
              let ff = (phone.slice(0,3))+'-';
              let tt = (phone.slice(3,6))+'-';
              let nn = (phone.slice(6,10));
              newPhone += ff+tt+nn;
          %>
          <p>
            <span class="lead"> <%= newPhone %> </span> <br>
            <span> <%= menu_items[0].street %> </span> <br>
            <span><%= menu_items[0].city %></span>
            <span><%= menu_items[0].province %></span>
            <span><%= menu_items[0].post_code %></span>
          </p>
      </div>
      </section>
    <main class="d-flex justify-content-between px-5 py-3 text-light">
      <section class="menu-items mx-5 my-2">
        <!-- RENDER MENU ITEM -->
          <% for (let item of menu_items) { %>
            <!-- MENUT ITEM -->
            <article class="menu-item bg-info">
              <div class="d-flex justify-content-between">
                <h2 class="menu-title text-center"><%= item.itemname %></h2>
                <p class="lead price" data-item-id="<%= item.menuid %>"><%= item.price %></p>
                <p class="d-none item-id"><%= item.menuid %></p>
              </div>
              <p class="item-description"><%= item.description %></p>
            </article>
            <% } %>
          <!-- END MENUT ITEM -->
      </section>
      <section class="order">
        <h2 class="text-center order-title">Your Order</h2>

        <!-- ORDER FORM -->
        <form class="order-form" method="POST" action="<%= `/orders/${newOrder[0].id}` %>" class="my-2">

          <!-- RENDER ORDER ITEMS -->
          <div class="form-items">

          </div>

          <p class="line clear-fix total">Your Total: $<span class="space float-right" id="totprice"></span></p>
          <p class="line">Tax: $<span class="space float-right" id="tax"></span></p>
          <p class="line">Your Total with Tax: $<span id="total" class="total_price space float-right"></span></p>

          <button id="orderSubmit" class="btn btn-info order-btn btn-block" type="submit"> Submit</button>
        </form>
        <div id='orderAlert' class="w-100 m-auto">
          <p class="bg-info text-center my-3"> Your Order Has been Placed <br> Awaiting Confirmation</p>
          <img src="/media/saltbae.gif" alt="saltbae">
      </section>
  </main>

  <footer class="text-light text-center">
    <p><small> FoodByte created By Herm, Arv, Dasha For Lighthouse Labs 2019</small></p>
  </footer>
</body>

</html>
